.form-container{
    width: 600px;
    margin: 0 auto;
    /* height: 500px; */
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
.form-title{
    font-weight: 400;
    font-size: 35px;
    color: #2A414F;
}
.input-group label{
    display: block;
    margin-left: 5px;
}
.input-group input{
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}
.input-group{
    margin-bottom: 20px;
}
.form-submit{
    width: 415px;
    background: #ff990056;
    height: 55px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
    
.form-submit:hover{
    background: #ff99008a;
}

.form-link{
    text-decoration: none;
    color: #ff9900;
}
.google-login{
    width: 415px;
    background: #ffffff;
    border: 1px solid #95A0A7;
    height: 55px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}